.parent{
    position: relative;
    width: 520px;
}

.parent .iframe{
    width: 520px;
    height: 500px;
    border: 1px solid black;
}

.parent .xIcon{
    position: absolute;
    cursor: pointer;
    right: -5px;
    top: -5px;
    z-index: 2;
}


.mainDiv{
    display: flex;
    flex-direction: column;
}

.sectionHolder{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.sectionHolder .name{
    font-size: 15px;
    color: white;
    width: 230px;
}

