@font-face {
    font-family: 'Kemco pixel';
    src: url('./assets/Kemco.ttf') format('woff2'), /* Modern Browsers */
         url('./assets/Kemco.ttf') format('woff');   /* Legacy Browsers */
}

body{
    margin: 0;
    font-family: "Kemco pixel", sans-serif;
    background-color: #622aff;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 65px;
    background-color: #28248C;
    display: flex;
    align-items: center;
    z-index: 99;
}

button{
    cursor: pointer;
    border-width: 0px;
    font-family: "Kemco pixel", sans-serif;
    font-size: 18px;
    color:#28248C;
    background-color: #e3ff37;
    clip-path: polygon(/* top left */ 0 4px, 4px 4px, 4px 0, /* top right */ calc(100% - 4px) 0, calc(100% - 4px) 4px, 100% 4px, /* bottom right */ 100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%, /* bottom left */ 4px 100%, 4px calc(100% - 4px), 0 calc(100% - 4px));
    box-shadow: /* bottom right */ inset -4px -4px 0px rgba(0, 0, 0, 0.2), /* top left */ inset 4px 4px 0px rgba(255, 255, 255, 0.2);
}

header input{
    font-family: "Kemco pixel", sans-serif;
    color: white;
    background-color: #314d68;
    border-width: 0px;
    text-indent: 20px;
    width: 300px;
    height: 43px;
    margin-left: 50px;
    clip-path: polygon(/* top left */ 0 4px, 4px 4px, 4px 0, /* top right */ calc(100% - 4px) 0, calc(100% - 4px) 4px, 100% 4px, /* bottom right */ 100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%, /* bottom left */ 4px 100%, 4px calc(100% - 4px), 0 calc(100% - 4px));
    box-shadow: /* bottom right */ inset -4px -4px 0px rgba(0, 0, 0, 0.2), /* top left */ inset 4px 4px 0px rgba(255, 255, 255, 0.2);
}

header input:focus{
    color: white;
    outline: none;
}


header .view{
    margin-left: -8px;
    height: 45px;
    width: 70px;
}

header .random{
    margin-left: 340px;
    height: 45px;
    width: 180px;
}

header .delete{
    margin-left: 20px;
    height: 45px;
    width: 250px;
}

main{
    margin: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
}